# Import libraries

In [2]:
import pandas as pd
from pandas import read_csv
import numpy as np
import matplotlib.pyplot as plt

#  Load Dataset

In [85]:
fileName = 'DrugData.csv'
data = read_csv(fileName)
data.head(20)

                                                 Drug Disease Gender  Age
0                A CN Gel(Topical) 20gmA CN Soap 75gm    Acne   Male   23
1   A Ret 0.05% Gel 20gmA Ret 0.1% Gel 20gmA Ret 0...    Acne   Male   23
2                              ACGEL CL NANO Gel 15gm    Acne   Male   23
3                                 ACGEL NANO Gel 15gm    Acne   Male   23
4                               Acleen 1% Lotion 25ml    Acne   Male   23
5                               Aclene 0.10% Gel 15gm    Acne   Male   23
6                                      Acnay Gel 10gm    Acne   Male   23
7                 Acne Aid Bar 50gmAcne Aid Bar 100gm    Acne   Male   23
8                                    Acne UV Gel 60gm    Acne   Male   23
9                             Acne UV SPF 30 Gel 30gm    Acne   Male   23
10                                  Acnecure Gel 20gm    Acne   Male   23
11                                   Acnedap Gel 15gm    Acne   Male   23
12                              Acnedap Plus Gel 15gm    Acne   Male   23
13                                   Acnehit Gel 15gm    Acne   Male   23
14                                  Acnelak Soap 75gm    Acne   Male   23
15                             Acnelak Clz Cream 15gm    Acne   Male   23
16                              Acnelak Z Lotion 15gm    Acne   Male   23
17                               Acnemoist Cream 60gm    Acne   Male   23
18                                  Acnerex Soap 75gm    Acne   Male   23
19  Acneril 1% Gel 10gmAcneril Tablet 10Acneril 0....    Acne   Male   23

# Checking data

In [86]:
# Shape

data.shape

#Check missing values
a1=data.isnull()
a1.sum()

Drug       0
Disease    0
Gender     0
Age        0
dtype: int64

# Data prepossesing

In [87]:
data.replace({'Gender' :{'Female' :0, 'Male': 1}}, inplace = True)
a = data[['Disease']]
a.Disease.unique()


#Convert object into integer

data.replace({'Disease':{'Acne' :0, 'Allergy' :1, 'Diabetes' :2, 'Fungal infection' :3,
       'Urinary tract infection' :4, 'Malaria' :5, 'Migraine' :6, 'Hepatitis B' :7,
       'AIDS' :8}}, inplace = True)

data.head()

                                                Drug  Disease  Gender  Age
0               A CN Gel(Topical) 20gmA CN Soap 75gm        0       1   23
1  A Ret 0.05% Gel 20gmA Ret 0.1% Gel 20gmA Ret 0...        0       1   23
2                             ACGEL CL NANO Gel 15gm        0       1   23
3                                ACGEL NANO Gel 15gm        0       1   23
4                              Acleen 1% Lotion 25ml        0       1   23

In [17]:
data.dtypes

Drug       object
Disease     int64
Gender      int64
Age         int64
dtype: object

# Feature selection

In [88]:
df_X = data[['Disease', 'Gender', 'Age']]
df_Y = data[['Drug']]
df_X.head()

   Disease  Gender  Age
0        0       1   23
1        0       1   23
2        0       1   23
3        0       1   23
4        0       1   23

In [25]:
df_Y.head()

                                                Drug
0               A CN Gel(Topical) 20gmA CN Soap 75gm
1  A Ret 0.05% Gel 20gmA Ret 0.1% Gel 20gmA Ret 0...
2                             ACGEL CL NANO Gel 15gm
3                                ACGEL NANO Gel 15gm
4                              Acleen 1% Lotion 25ml

# Train test split

In [27]:
from sklearn.model_selection import train_test_split
trainX, testX, trainY, testY = train_test_split(df_X, df_Y, test_size = 0.2, random_state = 0)

In [28]:
trainX.head()

      Disease  Gender  Age
2150        2       1   23
167         0       0   20
3188        2       0   23
844         1       0   23
4129        3       0   37

In [29]:
trainY.head()

                                                   Drug
2150  Glycinorm Total 30mg Tablet 10'SGlycinorm Tota...
167                             Dersol BH Ointment 30gm
3188            Wosulin New 30/70 100IU Cartridge 3X3ml
844                              Lejet M JR Tablet 10'S
4129  Zocon 50mg Tablet 4'SZocon Transgel 15gmZocon ...

# Fit random forest model

In [100]:
from sklearn.ensemble import RandomForestClassifier

randomForest = RandomForestClassifier()
randomForest = randomForest.fit(df_X, np.ravel(df_Y))

# Model accurary score

In [101]:
from sklearn.metrics import accuracy_score
predY = randomForest.predict(testX)
print(accuracy_score(testY,predY))
print(accuracy_score(testY, predY, normalize = False))

0.04843592330978809
48

In [112]:
# Score
randomForest.score(testX, testY)

0.04843592330978809

# Prediction of test dataset

In [114]:
prediction = randomForest.predict(testX)
print(prediction[0:15])

["METFAITH 500mg Tablet 10'sMETFAITH 1000mg Tablet 10's"
 "Alermed 180mg Tablet 10'SAlermed Tablet 10'S"
 "Herpex 200mg Tablet 10'SHerpex 5% Cream 5gmHerpex DT 800mg Tablet 5'S"
 "Lezyncet M Tablet 10'SLezyncet M Syrup 60ml"
 "METFAITH 500mg Tablet 10'sMETFAITH 1000mg Tablet 10's"
 "Itrapex 100mg Capsule 10'SItrapex 200mg Capsule 10'S"
 "Herpex 200mg Tablet 10'SHerpex 5% Cream 5gmHerpex DT 800mg Tablet 5'S"
 "Lumerax 80mg Tablet 6'SLumerax 60mg Tablet 6'SLumerax Dry Syrup 60mlLumerax 20/120mg Tablet 4'SLumerax 40mg Tablet 6'SLumerax Dry Syrup 30ml"
 "Lumerax 80mg Tablet 6'SLumerax 60mg Tablet 6'SLumerax Dry Syrup 60mlLumerax 20/120mg Tablet 4'SLumerax 40mg Tablet 6'SLumerax Dry Syrup 30ml"
 "Herpex 200mg Tablet 10'SHerpex 5% Cream 5gmHerpex DT 800mg Tablet 5'S"
 "Exermet 850mg Tablet 15'SExermet 500mg Tablet 15'SExermet 500mg Tablet 10'SExermet 850mg Tablet 10'SEXERMET 1000MG TABLET 10'S(N)"
 'Fexidine Syrup 60ml' "L Montus Flash Tablet 10'S"
 "Volix CP 0.3mg Tablet 30'S"
 "Glycinorm Total 30mg Tablet 10'SGlycinorm Total 60mg Tablet 10'S"]

# Prediction for 20 year old female PateintXYZ

In [115]:
# Acne = 0, Female = 0 and Age = 20

test1 = [0, 0, 20]
test1 = np.array(test1)

# List to Numpy Array
print(test1.shape)

# Convert 1D to 2D
test1 = np.array(test1).reshape(1, -1)

print(test1.shape)

(3,)
(1, 3)

# Recommend Drug name based on disease, age and gender by using ML

In [116]:
prediction1 = randomForest.predict(test1)
print(prediction1[0])

ISO T 20mg Capsule 10'S

C:\Users\Admin\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

# Dump model to disk

In [117]:
import joblib as joblib
joblib.dump(randomForest,'MLModel/randomForest_medical.pk1')

['MLModel/randomForest_medical.pk1']

# Load model

In [118]:
classification = joblib.load('MLModel/randomForest_medical.pk1')

# Prediction using ML model from disk

In [119]:
prediction2 = classification.predict(test1)
print(prediction2[0])

ISO T 20mg Capsule 10'S

C:\Users\Admin\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

# Gaussian Naive Bayes

In [120]:
# Fitting NB

from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
gnb = gnb.fit(df_X,np.ravel(df_Y))

In [121]:
# Check accuracy score

predY = gnb.predict(testX)
print(accuracy_score(testY, predY))
print(accuracy_score(testY, predY, normalize = False))

0.039354187689202826
39

In [122]:
gnb.score(testX, testY)

0.039354187689202826

# Recommend Drug name

In [123]:
drugname = gnb.predict(test1)
print(drugname[0])

DERMADEW B Bar 75gm

C:\Users\Admin\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but GaussianNB was fitted with feature names
  warnings.warn(